name: Publish to TestPyPI

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version name for release'
        required: true

jobs:
  publish:
    name: Publish wheel to TestPyPI
    permissions:
      contents: write
      id-token: write  # For trusted publishing
    uses: .github/workflows/publish-reusable.yml@main
    with:
      version: ${{ inputs.version }}
      release_notes: ${{ github.head_ref }}
      repository_url: https://test.pypi.org/legacy/
      environment:
        name: testpypi
        url: https://test.pypi.org/p/seclab-taskflow-agent2
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
