name: Smoke test - run the examples to check for errors

on:
  issue_comment:
    types: [created] # Add "smoke test" as a PR comment to trigger this workflow.

# Permissions needed for reacting and adding comments for IssueOps commands
# See: https://github.com/github/branch-deploy/blob/48285b12b35e47e2dde0c27d2abb33daa846d98b/README.md?plain=1#L189-L197
permissions:
  pull-requests: write # Required for commenting on PRs
  deployments: write # Required for updating deployment statuses
  contents: write # Required for reading/writing the lock file
  checks: read # Required for checking if the CI checks have passed in order to deploy the PR
  statuses: read # Required for checking if all commit statuses are "success" in order to deploy the PR

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: branch-deploy
        id: branch-deploy
        uses: github/branch-deploy@48285b12b35e47e2dde0c27d2abb33daa846d98b # v11.0.0
        with:
          trigger: "smoke test"
          reaction: "eyes"
          stable_branch: "main"
          update_branch: "disabled"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Python venv
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install -r requirements.txt

      - name: Run tests
        env:
          COPILOT_TOKEN: ${{ secrets.COPILOT_TOKEN }}
          GITHUB_AUTH_HEADER: "Bearer ${{ secrets.GITHUB_TOKEN }}"

        run: |
          source .venv/bin/activate
          python main.py -p personalities.assistant 'explain modems to me please'
          python main.py -p personalities.c_auditer 'explain modems to me please'
          python main.py -p personalities.examples.echo 'explain modems to me please'
          python main.py -t taskflows.CVE-2023-2283.CVE-2023-2283
          python main.py -t taskflows.examples.echo
          python main.py -t taskflows.examples.example
          python main.py -t taskflows.examples.example_globals
          python main.py -t taskflows.examples.example_inputs
          python main.py -t taskflows.examples.example_large_list_result_iter
          python main.py -t taskflows.examples.example_repeat_prompt
          python main.py -t taskflows.examples.example_repeat_prompt_async
          python main.py -t taskflows.examples.example_repeat_prompt_dictionary
          python main.py -t taskflows.examples.example_reusable_prompt
          python main.py -t taskflows.examples.example_reusable_taskflows
          python main.py -t taskflows.examples.example_triage_taskflow
          python main.py -t taskflows.examples.single_step_taskflow
